[global]

#########
# default fitted parameters
#########
pa                  = {pa}
pb                  = {pb}
pc                  = {pb}
kex_ab              = {kex_ab}
kex_bc              = {kex_bc}
kex_ac              = {kex_ac}
dw_ab               = 3.5
dw_ac               = 3.5
dw_bc               = 1.0

#########
# default residue specific
#########

[cs_a]
file = ../Input/n15_cs_true.txt

[dw_ab]
file = ../Input/n15_dw.txt
